.Container {
  padding: 0 2rem;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background: rgb(245, 245, 245);
  .buttonContainer {
    display: flex;
    justify-content: flex-end;
  }
  .logoContainer {
    display: flex;
    justify-content: flex-start;
  }
}

.borderButton {
  font-weight: 500;
  border-radius: 0.5rem;
  border: 2px solid rgb(255, 152, 0);
  color: black;
  margin: 8px;
  padding: 0.8rem;
  font-size: 13.5px;
  font-family: -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto",
    "Helvetica", "Arial", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  cursor: pointer;
}
.borderButton:hover {
}

.textButton {
  cursor: pointer;

  font-size: 16px;
  color: rgb(255, 152, 0);
  margin: 8px;
  padding: 8px;
  border: none;
  background: none;
}
.textButton:hover {
  color: black;
}

@media (max-width: 55.625em) {
  .borderButton {
    font-size: 9px;
    padding: 0.2rem 0.4rem;
  }

  .Container {
    padding: 0 0.5rem;
  }
}
