.Container {
  margin: auto;
  max-width: 1440px;
  padding: 0 2rem;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background: rgb(245, 245, 245);
  .buttonContainer {
    display: flex;
    justify-content: flex-end;
  }
  .logoContainer {
    display: flex;
    justify-content: flex-start;
  }
}

.borderButton {
  height: 40px;
  border-radius: 0.5rem;
  border: 1px solid rgb(255, 152, 0);
  color: black;
  margin: 8px;
  padding: 8px;
  font-size: 13.5px;
  font-family: -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto",
    "Helvetica", "Arial", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  cursor: pointer;
}
.borderButton:hover {
  color: white;
  border: 1px solid rgb(255, 152, 0);
  background: rgb(255, 152, 0);
}

.textButton {
  cursor: pointer;

  font-size: 16px;
  color: rgb(255, 152, 0);
  margin: 8px;
  padding: 8px;
  border: none;
  background: none;
}
.textButton:hover {
  color: black;
}
